/* * {
  border: 1px solid red;
} */

html,
.wrapper {
  height: 100%;
  width: 100%;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  grid-template: 1fr 4fr / 1fr 4fr;
}

.sidebar {
  grid-row: 1 / 3;
}